Repository abpframework/eShopOnAbp, pull requests merged in 2021-12, with the labels that each got.

#37 Implement a simple "purchase" button for demo
  apps/public-web/src/EShopOnAbp.PublicWeb/wwwroot/client-proxies/basket-proxy.js
  apps/public-web/src/EShopOnAbp.PublicWeb/wwwroot/components/basket-widget.js
  services/basket/src/EShopOnAbp.BasketService.Application.Contracts/IBasketAppService.cs
  services/basket/src/EShopOnAbp.BasketService.Application/BasketAppService.cs
  services/basket/src/EShopOnAbp.BasketService.Application/BasketServiceApplicationAutoMapperProfile.cs
  services/basket/src/EShopOnAbp.BasketService.Domain.Shared/OrderAcceptedEto.cs
  services/basket/src/EShopOnAbp.BasketService.Domain.Shared/OrderItemEto.cs
  services/basket/src/EShopOnAbp.BasketService.HttpApi.Client/ClientProxies/BasketClientProxy.Generated.cs
  services/basket/src/EShopOnAbp.BasketService.HttpApi.Client/ClientProxies/basket-generate-proxy.json
  services/catalog/src/EShopOnAbp.CatalogService.Domain/OrderHandler.cs
Labels: enhancement

#40 Fix invisible login button
  apps/public-web/src/EShopOnAbp.PublicWeb/Components/Toolbar/LoginLink/Default.cshtml
Labels: app-public-mvc

#41 Extract common code from ViewComponents
  apps/public-web/src/EShopOnAbp.PublicWeb/Basket/UserBasketProvider.cs
  apps/public-web/src/EShopOnAbp.PublicWeb/Components/Basket/BasketWidgetViewComponent.cs
  apps/public-web/src/EShopOnAbp.PublicWeb/Components/Toolbar/Cart/CartWidgetViewComponent.cs
Labels: app-public-mvc

#42 Add AnonymousId to DTOs
  apps/public-web/src/EShopOnAbp.PublicWeb/Pages/index.js
  apps/public-web/src/EShopOnAbp.PublicWeb/wwwroot/client-proxies/basket-proxy.js
  services/basket/src/EShopOnAbp.BasketService.Application.Contracts/AddProductDto.cs
  services/basket/src/EShopOnAbp.BasketService.Application.Contracts/IHasAnonymousId.cs
  services/basket/src/EShopOnAbp.BasketService.Application.Contracts/RemoveProductDto.cs
  services/basket/src/EShopOnAbp.BasketService.Application/BasketAppService.cs
  services/basket/src/EShopOnAbp.BasketService.HttpApi.Client/ClientProxies/basket-generate-proxy.json
Labels: service-basket, app-public-mvc
