Repository abpframework/eShopOnAbp, pull requests merged in 2022-08, with the labels that each got.

#120 Updated password complexity
  apps/auth-server/src/EShopOnAbp.AuthServer/appsettings.json
Labels: enhancement

#123 eshoponabp: gives 403 error at complete order step
  services/ordering/src/EShopOnAbp.OrderingService.Application/Orders/OrderAppService.cs
Labels: service-ordering

#124 Added retry mechanism
  services/basket/src/EShopOnAbp.BasketService/BasketServiceModule.cs
  services/basket/src/EShopOnAbp.BasketService/EShopOnAbp.BasketService.csproj
Labels: bug, service-basket
