Repository abpframework/eShopOnAbp, pull requests merged in 2022-01, with the labels that each got.

#51 Add Payment Provider bypassing
  services/payment/src/EShopOnAbp.PaymentService.Application.Contracts/PaymentServiceConsts.cs
  services/payment/src/EShopOnAbp.PaymentService.Application/PaymentRequests/PaymentRequestAppService.cs
  services/payment/src/EShopOnAbp.PaymentService.Application/PaymentRequests/PaymentRequestByPassAppService.cs
  services/payment/src/EShopOnAbp.PaymentService.Application/PaymentServiceApplicationModule.cs
  services/payment/src/EShopOnAbp.PaymentService.HttpApi.Host/PaymentServiceHttpApiHostModule.cs
Labels: service-payment

#62 Cart popover
  apps/public-web/src/EShopOnAbp.PublicWeb/Components/Toolbar/Cart/Default.cshtml
  apps/public-web/src/EShopOnAbp.PublicWeb/EShopOnAbpPublicWebModule.cs
  apps/public-web/src/EShopOnAbp.PublicWeb/Menus/EShopOnAbpPublicWebToolbarContributor.cs
  apps/public-web/src/EShopOnAbp.PublicWeb/wwwroot/components/cart/cart-widget.css
Labels: app-public-mvc

#63 PaymentMethod Improvements
  apps/public-web/src/EShopOnAbp.PublicWeb/Components/Payment/Default.cshtml
  apps/public-web/src/EShopOnAbp.PublicWeb/EShopOnAbpPaymentConsts.cs
  apps/public-web/src/EShopOnAbp.PublicWeb/Pages/Payment.cshtml.cs
  apps/public-web/src/EShopOnAbp.PublicWeb/Pages/PaymentCompleted.cshtml.cs
  apps/public-web/src/EShopOnAbp.PublicWeb/Pages/payment.js
  apps/public-web/src/EShopOnAbp.PublicWeb/ServiceProviders/PaymentTypeProvider.cs
  apps/public-web/src/EShopOnAbp.PublicWeb/wwwroot/components/payment/payment-widget.js
  services/payment/src/EShopOnAbp.PaymentService.Application.Contracts/PaymentMethods/PaymentTypeIds.cs
  services/payment/src/EShopOnAbp.PaymentService.Application.Contracts/PaymentMethods/PaymentTypes.cs
  services/payment/src/EShopOnAbp.PaymentService.Application.Contracts/PaymentRequests/IPaymentRequestAppService.cs
  services/payment/src/EShopOnAbp.PaymentService.Application/PaymentMethods/DemoPaymentMethod.cs
  services/payment/src/EShopOnAbp.PaymentService.Application/PaymentMethods/IPaymentMethod.cs
  services/payment/src/EShopOnAbp.PaymentService.Application/PaymentMethods/PaymentMethodResolver.cs
  services/payment/src/EShopOnAbp.PaymentService.Application/PaymentMethods/PaypalMethod.cs
  services/payment/src/EShopOnAbp.PaymentService.Application/PaymentRequests/PaymentRequestAppService.cs
  services/payment/src/EShopOnAbp.PaymentService.Application/PaymentServiceApplicationModule.cs
  services/payment/src/EShopOnAbp.PaymentService.HttpApi.Client/ClientProxies/PaymentRequestClientProxy.Generated.cs
  services/payment/src/EShopOnAbp.PaymentService.HttpApi.Client/ClientProxies/PaymentRequestClientProxy.cs
  services/payment/src/EShopOnAbp.PaymentService.HttpApi.Client/ClientProxies/payment-generate-proxy.json
  services/payment/src/EShopOnAbp.PaymentService.HttpApi/Controllers/PaymentRequestController.cs
Labels: service-payment, app-public-mvc

#66 Add OutOfStock button in Index
  apps/public-web/src/EShopOnAbp.PublicWeb/Pages/Index.cshtml
  shared/EShopOnAbp.Shared.Localization/Localization/EShopOnAbp/en.json
  shared/EShopOnAbp.Shared.Localization/Localization/EShopOnAbp/tr.json
Labels: app-public-mvc

#73 eShopOnAbp: Refactor Basket service
  apps/angular/src/environments/environment.ts
  apps/public-web/src/EShopOnAbp.PublicWeb/ServiceProviders/UserBasketProvider.cs
  apps/public-web/src/EShopOnAbp.PublicWeb/wwwroot/client-proxies/basket-proxy.js
  services/basket/src/EShopOnAbp.BasketService.Application.Contracts/IBasketAppService.cs
  services/basket/src/EShopOnAbp.BasketService.Application/BasketAppService.cs
  services/basket/src/EShopOnAbp.BasketService.Application/BasketProductService.cs
  services/basket/src/EShopOnAbp.BasketService.Domain.Shared/BasketServiceDomainErrorCodes.cs
  services/basket/src/EShopOnAbp.BasketService.Domain.Shared/Localization/BasketService/en.json
  services/basket/src/EShopOnAbp.BasketService.Domain.Shared/Localization/BasketService/tr.json
  services/basket/src/EShopOnAbp.BasketService.Domain/Basket.cs
  services/basket/src/EShopOnAbp.BasketService.HttpApi.Client/ClientProxies/BasketClientProxy.Generated.cs
  services/basket/src/EShopOnAbp.BasketService.HttpApi.Client/ClientProxies/BasketClientProxy.cs
  services/basket/src/EShopOnAbp.BasketService.HttpApi.Client/ClientProxies/basket-generate-proxy.json
  services/catalog/src/EShopOnAbp.CatalogService.Application/Products/ProductAppService.cs
  services/identity/src/EShopOnAbp.IdentityService.HttpApi.Host/DbMigrations/IdentityServerDataSeeder.cs
Labels: enhancement
